.App {
    font-family: Arial;
    font-size: medium;
    background-color: navajowhite;
    height: 100vh;
}

.heading {
    padding: 20px;
    border-bottom: black;
    text-shadow: 0 3px 0 #b2a98f,
    0 14px 10px rgba(0,0,0,0.15),
    0 24px 2px rgba(0,0,0,0.1),
    0 34px 30px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 60px;
}
