.doubleRangeContainer {
display: flex;
}

.rangeSlider {
    position: relative;
    width: 400px;
    text-align: center;
    margin: auto 16px;
}

.rangeSlider input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}
.rangeValue{
    width: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    z-index:2;
    position: relative;
    top: 2px;
    margin-top: -5px;
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

