.navBar {
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    height: fit-content;
    position: fixed;
}

.navBar div {
    width: 250px;
}

.sideBar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;;
    z-index: 2;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: height 0.5s;
    margin-top: 106px;
}

.navBarEl a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    color: #818181;
    width: 100%;
}

.navBarEl a:hover {
    background-color: #818181;
    color: black;
}

.navBarEl a.activeLink {
    background-color: darkslategrey;
    color: white;
}

.SlideSideBar {
    height: 100%;
}

.CloseSlideSideBar {
    height: 0;
}

.openbtn {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
    outline: none;
}

.openbtn:hover {
    background-color: dimgray;
    color: black;
}


