.Wrapper {
    display: flex;
    transition: margin-left .5s;
    background-color: navajowhite;
}

.Chapter {
    margin: 1em auto;
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    background: rgb(255, 222, 173) radial-gradient(circle at 50% 0,
    rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;

}

.Chapter .NameChapter {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.Chapter .section {
    font-size: 15px;
    text-align: left;
}

.red {
    background: red;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}

.section {
    margin: 15px;
}

.section div {
    padding: 5px;
}

.container {
    display: flex;
}

